body {
  background-image: url("/bg.jpeg");
}
.navIcons:hover {
  background-color: #3093B4;
  cursor: pointer;
}
.toolbar {
  max-height: 30px;
  width: 100%;display: flex; flex-direction: row;justify-content: space-between;background-color: black;padding-top: 5px;padding-bottom: 5px;align-items: center;
}
.toolbar-left {
  display: flex;flex-direction: row;align-items: center;
}
 .textArea {
 background-color:#FFDE0D;width: 250px;height: 150px;min-width: 320px; min-height:50px;

 }
 #draggable i {
 color: #fff;
 margin-left: 5px;
 margin-right: 5px;
 padding: 3px
 }
 #draggable i:hover {
 background-color: #494947;
 cursor: pointer;
 }
 #draggable select {
 margin-left: 5px;
 margin-right: 5px;
 }
 .textArea {
 
 border: 1px solid rgba(1,1,1,0.4);
 border-bottom: 0px solid rgba(1,1,1,0.0);
 width: 100%;
 resize: both;
 overflow:auto;

 padding: 10px;
 }
 .bold-text {
 font-weight: bolder;
 }
 .italic-text {
 font-style: italic;
 }
 .underline-text {
 text-decoration: underline;
 }
 .font-12 {
 font-size: 12px;
 }
 .font-24 {
 font-size: 24px;
 }
 .font-42 {
 font-size: 42px;
 }
 [contenteditable='true'] {
 caret-color: black;
 }
